/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area {
        text-align: center;
    }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    
    .hero-area {
        text-align: center;
    }
    
    h1.section-title-h1 {
        font-size: 55px;
    }
    
    img.cards-area-product-image {
        max-width: 80%;
    }

    img.visa-card-img {
        display: grid;
    }
    .visa-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
        grid-template-rows: repeat(2, auto);   /* 2 rows, adjust height as needed */
        gap: 20px; /* space between items */
    }
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    .hero-area {
        text-align: center;
    }
    h1.section-title-h1 {
        font-size: 55px;
    }
    .gratins-area {
        margin-top: 200px;
    }
    .speciales-area {
        margin-top: 200px;
    }
    .uber-area {
        text-align: center;
        padding: 50px 15px;
    }
    .panini-area {
        margin-top: 200px;
    }
    .composez-pizza-image-area {
        margin: 100px 0;
    }
    .qr-area img {
        padding: 10px;
        max-width: 150px;
    }
    .croque-area {
        margin-top: 270px;
    }
    img.cards-area-product-image {
        max-width: 80%;
    }

    img.visa-card-img {
        display: grid;
    }
    .visa-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
        grid-template-rows: repeat(2, auto);   /* 2 rows, adjust height as needed */
        gap: 20px; /* space between items */
    }
}


